*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Mono";
    font-weight: 700;
}
body{
    min-height: 100vh;
    position: relative;
    color: hsl(186, 14%, 43%);
    background-color: hsl(185, 41%, 84%);
}
.logo{
    display: block;
    margin: 0 auto;
    padding: 2.5em 0;
}

main, .results{
    padding: 1.5em;
    border-radius: 20px;
    background-color: white;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
button, .tipPercentage{
    cursor: pointer;
}
.inputContainer{
    margin-top: .5em;
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: hsl(189, 41%, 97%);
}
.field > p, #customContainer p{ display: none;}
.field.failed .inputContainer, #customContainer.failed #customPrice{
    outline: 2px solid hsl(17, 55%, 65%);
}
.field.failed {
    position: relative;
}
.field.failed > p{
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    color: hsl(17, 55%, 65%);
}
.field.focused .inputContainer, #customPrice.focused{
    outline: 2px solid hsl(172, 67%, 45%);
}
input{
    padding: 0 15px;
    width: 100%;
    border: none;
    background-color: transparent;
    color: hsl(183, 100%, 15%);
    font-size: 24px;
    text-align: end;
}
fieldset{
    margin: 2em 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(118px, 1fr));
    gap: 15px;
    border: none;
}
legend{
    margin-bottom: 15px;
}

.tipPercentage{
    padding: 5px 0;
    position: relative;
    display: flex;
    justify-content: center;
    border: none;
    background-color: hsl(183, 100%, 15%);
    color: white;
    font-size: 24px;
    overflow: hidden;
}
.tipPercentage input{
    height: 0;
    width: 0;
}
.tipPercentage p{
    position: relative;
    z-index: 1;
}
.background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
}
#customContainer{
    position: relative;
}
#customContainer.failed p{
    display: inline;
    position: absolute;
    top: -1.25em;
    color: hsl(17, 55%, 65%);
}
#customPrice{
    height: 100%;
}
input:focus{
    outline: none;
}
input:hover ~ .background{
    background-color: hsl(185, 41%, 84%);
}
input:hover ~ p{
    color: hsl(183, 100%, 15%);
}

input:checked ~ .background,
input:focus ~ .background{
    background-color: hsl(172, 67%, 45%);
}
input:checked ~ p,
input:focus ~ p{
    color: hsl(183, 100%, 15%);
}
.inputContainer, .tipPercentage, .resetButton, input{
    border-radius: 7px;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.results{
    padding-top: 2em;
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: hsl(183, 100%, 15%);
}
.results div{
    display: flex;
    justify-content: space-between;
}
.results p:first-child{
    display: flex;
    flex-direction: column;
    color: hsl(189, 41%, 97%);
}
.results p:first-child span{
    font-size: .8em;
    color: hsl(186, 14%, 43%);
}
.results .result{
    color: hsl(172, 67%, 45%);
    font-size: 2em;
}

.resetButton{
    padding: .5rem 0;
    border: none;
    background-color: hsl(172, 67%, 45%);
    font-size: 24px;
    color: hsl(183, 100%, 15%);
}
.resetButton:hover{
    background-color: hsl(185, 41%, 84%);
}

.attribution { font-size: 11px; text-align: center; position: fixed; bottom: 0; right: 0;left: 0; background-color: #ffffff80; backdrop-filter:blur(10px);}
.attribution a { color: hsl(228, 45%, 44%); }