*{
    box-sizing: border-box;
    font-family: "Space Mono";
    font-weight: 700;
}
body{
    min-height: 100vh;
    margin: 0;
    position: relative;
    color: hsl(183, 100%, 15%);
    background-color: hsl(185, 41%, 84%);
}
.logo{
    display: block;
    margin: 0 auto;
    padding: 2.5em 0;
}

main{
    padding: 1.5em;
    border-radius: 20px;
    background-color: white;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}








.attribution { font-size: 11px; text-align: center; position: fixed; bottom: 0;}
.attribution a { color: hsl(228, 45%, 44%); }